# shellcheck shell=bash
# Force a path flake so a brand-new repo works before files are tracked in Git.
use flake path:.
layout node

dotenv_if_exists .env
dotenv_if_exists .env.local

PATH_add bin/

source_env_if_exists .envrc.private
